@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin: auto;
}

header {
  border-bottom: 2px solid #000000;
}

header h2 {
  font-size: 48px;
  margin: 0;
  font-weight: 400;
}

#sistema {
  display: flex;
}

#sistema div.sidebar {
  width: 477px;
  height: 639px;
}

#sistema div.sidebar div.linha {
  display: flex;
}

#sistema div.sidebar div.linha div.coluna1 {
  width: 238px;
}

#sistema div.sidebar div.linha div.coluna2 {
  width: 238px;
}

#sistema div.sidebar div.linha2 {
  display: flex;
}

#sistema div.sidebar div.linha2 div.coluna1 {
  width: 238px;
}

#sistema div.sidebar div.linha2 div.coluna2 {
  width: 238px;
}

#sistema div.fluxo {
  width: 714px;
  height: 633px;
}

#sistema div.fluxo div.linha1 {
  display: flex;
}

#sistema div.fluxo div.linha1 div.coluna1 {
  width: 554px;
  display: flex;
  justify-content: space-between;
}

#sistema div.fluxo div.linha1 div.coluna2 {
  width: 160px;
  display: flex;
  justify-content: space-around;
}
